<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8f443a5-2968-4aaa-8898-ca2623789473" Alias="About Hero Coffee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutHeroCoffee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:32:06</CreateDate>
    <NodeName Default="About Hero Coffee" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/unbpj0di/about_hero_coffee.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>