<?xml version="1.0" encoding="utf-8"?>
<Media Key="4897b3dc-a0d9-4c86-bdf0-b7491eba46e7" Alias="About Coffee Shop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutCoffeeShop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:54:34</CreateDate>
    <NodeName Default="About Coffee Shop" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1kzjosgz/about_coffee_shop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>