<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8ada5b1-ad91-45bf-8534-76ae318fb6b7" Alias="Coffee Photography" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoffeePhotography</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T17:00:23</CreateDate>
    <NodeName Default="Coffee Photography" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w4sl14er/coffee_photography.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>