<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4eb2d98-2cd9-4dc3-a06a-032b02f0bda3" Alias="Coffee Blog Gallery Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoffeeBlogGalleryHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-26T18:09:08</CreateDate>
    <NodeName Default="Coffee Blog Gallery Hero" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tywpxngz/coffee_blog_gallery_hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>