<?xml version="1.0" encoding="utf-8"?>
<Media Key="00c323db-7f87-46c2-8e2b-90e4618eb6b0" Alias="Coffee Home Featured" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoffeeHomeFeatured</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-26T14:57:48</CreateDate>
    <NodeName Default="Coffee Home Featured" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1urngaeh/coffee_home_featured.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>