<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4791a61-a5b7-449a-a962-dd03ff678e7a" Alias="Coffee Home Featured2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoffeeHomeFeatured2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-26T15:05:01</CreateDate>
    <NodeName Default="Coffee Home Featured2" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2nht3fx/coffee_home_featured2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>