<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1531e32-08c8-4046-9f0e-a2b2fa35b222" Alias="Coffee Types Of" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoffeeTypesOf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T17:04:04</CreateDate>
    <NodeName Default="Coffee Types Of" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqpfhyoi/coffee_types_of.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>