<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6b81d33-c914-4bde-b738-4bf1107bf84e" Alias="Hero Coffee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroCoffee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:25:30</CreateDate>
    <NodeName Default="Hero Coffee" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/guolrjqu/hero_coffee.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>