<?xml version="1.0" encoding="utf-8"?>
<Media Key="312b7c50-1d5f-4439-9264-d536f733d34e" Alias="Quotes Coffee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuotesCoffee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:57:47</CreateDate>
    <NodeName Default="Quotes Coffee" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kz4cwmk5/quotes_coffee.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>