<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c16d572-0ef3-4152-90f9-7108764f01f2" Alias="Slide 1 Drip Brew" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slide1DripBrew</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:39:27</CreateDate>
    <NodeName Default="Slide 1 Drip Brew" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/otkbmhht/slide_1_drip_brew.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>