<?xml version="1.0" encoding="utf-8"?>
<Media Key="b210b5c5-fbd5-4f05-927b-8a571167bb95" Alias="Slide 2 French Press" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slide2FrenchPress</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-17T16:50:49</CreateDate>
    <NodeName Default="Slide 2 French Press" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yo0bbmwv/slide_2_french_press.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>