<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2fd584ca-5889-4245-8e19-1b45c939e386" Alias="galleryPage" Level="2">
  <Info>
    <Name>Gallery  Page</Name>
    <Icon>icon-umb-media color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d612674c-f371-4f92-9288-942e63060a2c">contentProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>GalleryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f6d773d-e9ad-43ba-ace4-03f929a640f0">GalleryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>