<?xml version="1.0" encoding="utf-8"?>
<Content Key="243a6f26-c507-44f3-9d8b-bf3052384b6d" Alias="Gallery" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Blog</Parent>
    <Path>/Home/Blog/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2023-01-26T18:09:16</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f6d773d-e9ad-43ba-ace4-03f929a640f0">GalleryPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "957f0b8c-6d50-4335-9b68-262f7fc1eb91",
    "mediaKey": "b4eb2d98-2cd9-4dc3-a06a-032b02f0bda3"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[The Hub´s Gallery]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Gallery Hub]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>