<?xml version="1.0" encoding="utf-8"?>
<Content Key="243a6f26-c507-44f3-9d8b-bf3052384b6d" Alias="Gallery" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Blog</Parent>
    <Path>/Home/Blog/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2023-01-26T18:09:16</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f6d773d-e9ad-43ba-ace4-03f929a640f0">GalleryPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/57e68f9fdf174f15b330bd6a85ceb305",
        "settingsUdi": "umb://element/037ae2cbe18f49e6913d03b763d07f67"
      },
      {
        "contentUdi": "umb://element/49c1c65734274efc8f6d8b86e5630bbf",
        "settingsUdi": "umb://element/ac187047f5844c4b828ee0a9e01429dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2313fa38-d735-46ac-bdf6-e6542ad60232",
      "udi": "umb://element/49c1c65734274efc8f6d8b86e5630bbf",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e0ecc3477566495788a027dfe518e3a5",
              "settingsUdi": "umb://element/0cefbf0ac4ca4b4fb00e9ba59fb54fc1"
            },
            {
              "contentUdi": "umb://element/2dfd9fc827454093b2bcd54c1b43044c",
              "settingsUdi": "umb://element/583df57c2fa447d390a5911eb8af0452"
            },
            {
              "contentUdi": "umb://element/8455dd6750604b2cb6ebc02dc4366b85",
              "settingsUdi": "umb://element/23e828f903214247af660503daf5a937"
            },
            {
              "contentUdi": "umb://element/28d3907ea94143a4a5532039763c8e0a",
              "settingsUdi": "umb://element/48cb489be8d3491698219c6be77a176c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/e0ecc3477566495788a027dfe518e3a5",
            "image": [
              {
                "key": "75538c51-7d9d-4c6b-9726-7f1e6a4c2800",
                "mediaKey": "a6b81d33-c914-4bde-b738-4bf1107bf84e"
              }
            ]
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/2dfd9fc827454093b2bcd54c1b43044c",
            "image": [
              {
                "key": "352730e3-5c35-4e94-a377-31fa26c9ed56",
                "mediaKey": "e8f443a5-2968-4aaa-8898-ca2623789473"
              }
            ]
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/8455dd6750604b2cb6ebc02dc4366b85",
            "image": [
              {
                "key": "4aa0cf19-6bbc-45d1-8dbd-a00307f8a0be",
                "mediaKey": "1c16d572-0ef3-4152-90f9-7108764f01f2"
              }
            ]
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/28d3907ea94143a4a5532039763c8e0a",
            "image": [
              {
                "key": "4ef25b7e-466c-48ed-ba24-2f2776c07de2",
                "mediaKey": "4897b3dc-a0d9-4c86-bdf0-b7491eba46e7"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/0cefbf0ac4ca4b4fb00e9ba59fb54fc1"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/583df57c2fa447d390a5911eb8af0452"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/23e828f903214247af660503daf5a937"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/48cb489be8d3491698219c6be77a176c"
          }
        ]
      }
    },
    {
      "contentTypeKey": "953a0ae9-d75f-41dc-bec9-9c614e38ec1b",
      "udi": "umb://element/57e68f9fdf174f15b330bd6a85ceb305",
      "quoteText": "<p><em>When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.</em></p>",
      "quoteAuthor": "Ansel Adams",
      "citeLink": [
        {
          "name": "Photography Quotes",
          "target": "_blank",
          "url": "https://shotkit.com/photography-quotes/"
        }
      ],
      "authorJobTitle": "Photographer"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b76d6507-842d-4b7c-bd2c-16b3f9cf6a93",
      "udi": "umb://element/ac187047f5844c4b828ee0a9e01429dd",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationArrows": "1",
      "showDarkMode": "0"
    },
    {
      "contentTypeKey": "f31c9dde-5a89-4774-8b8f-8c10c3f916f2",
      "udi": "umb://element/037ae2cbe18f49e6913d03b763d07f67",
      "hide": "0",
      "textAlignment": ""
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "957f0b8c-6d50-4335-9b68-262f7fc1eb91",
    "mediaKey": "b4eb2d98-2cd9-4dc3-a06a-032b02f0bda3"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[The Hub´s Gallery]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Gallery Hub]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>