<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/wilsonpinto88/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": ""
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ab0441f81c86461081e646c35b975ce1",
        "settingsUdi": "umb://element/48a05e1b669c49758273554d317fc8d4"
      },
      {
        "contentUdi": "umb://element/8b07b74151df49f5ba51b36857e28906",
        "settingsUdi": "umb://element/17c1b9d811464305aeb393c984160271"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5ac62690-aa64-4335-8a31-5224550fd73a",
      "udi": "umb://element/8b07b74151df49f5ba51b36857e28906",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a1f6399eebed424ca4591bfd13eb4da7",
              "settingsUdi": "umb://element/27979abdaabd4da18e3bf7181bc8ea28"
            },
            {
              "contentUdi": "umb://element/ed6ed430ae1f4550a1942214736c472b",
              "settingsUdi": "umb://element/f2e839c2648f40e6a71962321e70a0eb"
            },
            {
              "contentUdi": "umb://element/65bae95dab074bf89f7e9a2a35046937",
              "settingsUdi": "umb://element/6b10602c90fc4cb5932e0450120326bc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/a1f6399eebed424ca4591bfd13eb4da7",
            "image": [
              {
                "key": "51fe4bf3-6cbe-40e1-ac78-f32d77867be6",
                "mediaKey": "00c323db-7f87-46c2-8e2b-90e4618eb6b0"
              }
            ],
            "link": null,
            "title": "How to Make Coffee While Camping",
            "description": "The 10 Best Camp Coffee Brewing Methods"
          },
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/ed6ed430ae1f4550a1942214736c472b",
            "image": [
              {
                "key": "b296a200-c4a6-490f-88c9-7d265d40094c",
                "mediaKey": "f4791a61-a5b7-449a-a962-dd03ff678e7a"
              }
            ],
            "link": null,
            "title": "21 Different Types of Espresso Drinks",
            "description": "We put together this guide to the 21 different types of espresso drinks"
          },
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/65bae95dab074bf89f7e9a2a35046937",
            "image": [
              {
                "key": "ed766c0b-b56e-427b-8a9c-d0d8f9bce465",
                "mediaKey": "16b56d0b-099f-408c-b043-c1c0f845cb77"
              }
            ],
            "link": null,
            "title": "Cold Brew vs Iced Coffee",
            "description": "Should you choose iced coffee or cold brew? And what’s the difference between these refreshing drinks?"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/27979abdaabd4da18e3bf7181bc8ea28"
          },
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/f2e839c2648f40e6a71962321e70a0eb"
          },
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/6b10602c90fc4cb5932e0450120326bc"
          }
        ]
      },
      "title": "Featured Items",
      "description": "Let's take some notes on everything we need to know about coffee"
    },
    {
      "contentTypeKey": "953a0ae9-d75f-41dc-bec9-9c614e38ec1b",
      "udi": "umb://element/ab0441f81c86461081e646c35b975ce1",
      "quoteText": "<p>Do you know how helpless you feel if you have a full cup of coffee in your hand and you start to sneeze?</p>",
      "citeLink": null,
      "quoteAuthor": "Jean Kerr",
      "authorJobTitle": "Author - Playwright"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f89400d-ca33-412e-828f-9f5830a4c2f7",
      "udi": "umb://element/17c1b9d811464305aeb393c984160271",
      "hide": "0"
    },
    {
      "contentTypeKey": "f31c9dde-5a89-4774-8b8f-8c10c3f916f2",
      "udi": "umb://element/48a05e1b669c49758273554d317fc8d4",
      "hide": "0",
      "textAlignment": ""
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "1c56e9fc-626a-42f5-995a-51a48e64e440",
    "mediaKey": "a6b81d33-c914-4bde-b738-4bf1107bf84e"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/f8ae041e094a4aa09903971245cab3ae"
      }
    ],
    "childLinks": null
  },
  {
    "key": "63a60eb6-f746-412f-989e-e96fc33c6b8f",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/dd7e61a070db416ca069b5dedfef3831"
      }
    ],
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/c606cba8dfeb4db599bee297710fe601",
        "queryString": "#testing1"
      },
      {
        "name": "Gallery",
        "udi": "umb://document/243a6f26c50744f39d8bbf3052384b6d",
        "queryString": ""
      }
    ]
  },
  {
    "key": "b0b416ce-6aa7-47a6-b0e9-0cdf6e8f4c08",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/5e389936b1424867b332a405fac18f6d"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[The best way to kickstart your day]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Coffee Hub]]></Value>
    </title>
  </Properties>
</Content>