<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/wilsonpinto88/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": ""
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9ca6c0958d1c4db095ac5bc8d0eec67e",
        "settingsUdi": "umb://element/b1dcf3f3fcf84a919f73525ccdaf00e0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5ac62690-aa64-4335-8a31-5224550fd73a",
      "udi": "umb://element/9ca6c0958d1c4db095ac5bc8d0eec67e",
      "title": "Featured Content",
      "description": "This is some content I thought you would be interested in",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2aee5b0d8a794a4d9f8245a07da63bd8",
              "settingsUdi": "umb://element/faadd30e2eee4753840bc15860b09cf9"
            },
            {
              "contentUdi": "umb://element/91e3b803029c4d4d948a06b01471d6da",
              "settingsUdi": "umb://element/71a1066cb5a7488b8f5219c1042e6624"
            },
            {
              "contentUdi": "umb://element/b1cf32c0a908441a92f92bddd7122703",
              "settingsUdi": "umb://element/66652b91df554ac4be1181d4bb4fdc78"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/2aee5b0d8a794a4d9f8245a07da63bd8",
            "image": [
              {
                "key": "74e42030-8851-427c-9735-ffb7b1cc717d",
                "mediaKey": "312b7c50-1d5f-4439-9264-d536f733d34e"
              }
            ],
            "link": [
              {
                "name": "Blog",
                "udi": "umb://document/c606cba8dfeb4db599bee297710fe601"
              }
            ],
            "title": "150 Coffee Quotes",
            "description": "To Celebrate the Beloved Cuppa Joe That Gets Us Up Every AM"
          },
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/91e3b803029c4d4d948a06b01471d6da",
            "image": [
              {
                "key": "6faa6fc0-a1c7-439c-85ce-63a256ac1e93",
                "mediaKey": "f8ada5b1-ad91-45bf-8534-76ae318fb6b7"
              }
            ],
            "link": [
              {
                "name": "Blog",
                "udi": "umb://document/c606cba8dfeb4db599bee297710fe601"
              }
            ],
            "title": "Brewed Coffee Photos",
            "description": "Take a look at some great art work about our best friend"
          },
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/b1cf32c0a908441a92f92bddd7122703",
            "image": [
              {
                "key": "9c0b0f60-43ac-4286-8d2b-2f2fe5839e42",
                "mediaKey": "e1531e32-08c8-4046-9f0e-a2b2fa35b222"
              }
            ],
            "link": [
              {
                "name": "Blog",
                "udi": "umb://document/c606cba8dfeb4db599bee297710fe601"
              }
            ],
            "title": "Different Types of Coffee",
            "description": "What Are The Different Types of Coffee Drinks?"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/faadd30e2eee4753840bc15860b09cf9"
          },
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/71a1066cb5a7488b8f5219c1042e6624"
          },
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/66652b91df554ac4be1181d4bb4fdc78"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f89400d-ca33-412e-828f-9f5830a4c2f7",
      "udi": "umb://element/b1dcf3f3fcf84a919f73525ccdaf00e0",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "1c56e9fc-626a-42f5-995a-51a48e64e440",
    "mediaKey": "a6b81d33-c914-4bde-b738-4bf1107bf84e"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/f8ae041e094a4aa09903971245cab3ae"
      }
    ],
    "childLinks": null
  },
  {
    "key": "63a60eb6-f746-412f-989e-e96fc33c6b8f",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/dd7e61a070db416ca069b5dedfef3831"
      }
    ],
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/c606cba8dfeb4db599bee297710fe601",
        "queryString": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Latest Blog Posts",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "b0b416ce-6aa7-47a6-b0e9-0cdf6e8f4c08",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/5e389936b1424867b332a405fac18f6d"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[The best way to kickstart your day]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Coffee Hub]]></Value>
    </title>
  </Properties>
</Content>