@inherits UmbracoViewPage

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">How coffee became an unstoppable force - BBC</h2>
                    <h3 class="post-subtitle">Coffee was once a little-known delicacy used to aid religious rituals – now we drink more than two billion cups a day.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Coffee Hub</a>
                    on @DateTime.Now
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Coffee | The Nutrition Source | Harvard </h2>
                    <h3 class="post-subtitle">Coffee lovers around the world who reach for their favorite morning brew probably aren't thinking about its health benefits or risks.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Coffee Hub</a>
                    on @DateTime.Now
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Surprising Facts About Coffee and Caffeine</h2>
                    <h3 class="post-subtitle">21 Surprising Coffee Facts That Will Perk Up Your Afternoon</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Coffee Hub</a>
                    on @DateTime.Now
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">19 Must-Read Coffee Blogs in 2023 for True Coffee Lovers</h2>
                    <h3 class="post-subtitle">Whether you’re a barista working at a high-end cafe, a traveler with a desire to taste different coffee around the world, or new to home brewing, there is probably a blog for you to follow.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Coffee Hub</a>
                    on @DateTime.Now
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>